__Question Statement__


Using the provided datasets, please create a machine learning model that can predict the value of rating based on the review text. 

You can also use meal_id as an additional attribute. 

Please provide an interpretation of your model and an analysis on the data.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import seaborn as sns
%matplotlib inline

In [12]:
dftrain = pd.read_csv('../kulina-data/Machine Learning/train.csv')
dftrain.head()

   meal_id                                             review  rating
0     2890  Ga ada rasa spesial. Sayur lodeh isinya cuma t...     3.0
1     3556                                         Ganti menu     3.0
2     3620  kurang sreg sama gorengannya aja sih. tempura ...     3.0
3     3531  Ayam dada nya agak keras dan nasinya cenderung...     4.0
4     3744                 Pastanya enak banget....top deh :)     5.0

In [13]:
dftest = pd.read_csv('../kulina-data/Machine Learning/test.csv')
dftest.head()

   meal_id                                     review
0     4674                             belum sampe!!!
1     3616  sampai pukul 12.20 makanan belum sampai.
2     4648   enak sayang kulitnya keras bukan crunchy
3     6416    udah 2 hari lupa dikasi sendok mulu nih
4     3616              Belum datang sampai sekarang.

In [14]:
dfval = pd.read_csv('../kulina-data/Machine Learning/validation.csv')
dfval.head()

   meal_id                                             review  rating
0     4123                       keep up the good work, tho.      3.0
1     4376  Terlalu matang cuminya benyek, sayurnya jg kem...     3.0
2     4648  sampe jam 12.07 belom dateng makanannya. saya ...     1.0
3     4814  Menu oke TAPI saus udang kemanisan seperti es ...     4.0
4     5096  Untuk saya terlalu pedas, mungkin untuk masaka...     4.0